* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: cornflowerblue;
}

h1 {
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.theme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.search {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.cep {
  margin-right: 5px;
  border: 1px solid cornflowerblue;
  border-radius: 8px;
  text-align: center;
  height: 26px;
  width: 250px;
  outline: none;
}

.search-address {
  height: 26px;
  width: 130px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  
}

.search-address:hover {
  background-color: white;
  color: cornflowerBlue;
  
  transition: 0.7s;
}

.address {
  text-align: center;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 20px;
}

.danger {
  text-align: center;
  color: red;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 20px;
}

.popup-wrapper {
  display: none;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.popup {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 300px;
  margin: 10% auto;
  padding: 20px;
  position: relative;
  background: white;
}

.popup h1 {
  color:  crimson;
  font-size:20px;
  padding-bottom: 20px;
}

.popup p {
  color:  crimson;
  font-size:17px;
  padding-bottom: 25px;
}

.popup button {
  color: white;
  background: crimson;
  border: 0;
  border-radius: 5px;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.popup-close {
  top: 5px;
  right:10px;
  cursor: pointer;
  position: absolute;
}


@media(max-width:570px) {

  h1 {
    font-size: 24px;
  }

  .search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .cep { 
    width: 150px;
    margin: auto;
  }

  .search-address {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    width: 100%;
    background: white;
    color: cornflowerblue;
  }

  .address {
    font-size: 15px;
  }
  
  .danger {
    font-size: 15px;
  }

  .popup-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .popup {
    max-width: 330px;
    display: flex;
    justify-content: flex-end;
  }


}